.navbar_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin-top: 2%;
  background-color: #ffffff;
  z-index: 1000;
}

.navbar_container ul {
  display: flex;
  align-items: center;
  position: relative;
}

.bg-hover-box {
  background-color: #27debf;
  border-radius: 50px;
  position: absolute;
  left: 0;
  height: 100%;
  transition: 0.3s linear;
}

.nav_link {
  list-style: none;
  margin: 0 1rem;
  z-index: 10;
}

.nav_item {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #1d1d1d;
  padding: 10px 15px;
  transition: 0.3s linear;
}

.nav_icon {
  margin-right: 5px;
  vertical-align: middle;
}

.popup-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  z-index: 1000;
}